<h1>Editing User</h1>

<% if ((@user.id == current_user.id) || (current_user.name == "Socrates")) %> 
	<%= render 'form' %>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
