<h1>Contributors</h1>

<% @users.each do |user| %>
  <div class="row">
    <div class="small-11 columns">
      <div id="userIndexThumb" style="background-image: url(<%= user.image_url %>)"></div>
      <div class="indexName">
        <h4><%= link_to user.name, user %></h4>
        <% if user.organization != nil %>
          <%= user.organization.upcase %>
         <% end %> 
      </div>
    </div>
    <% if user.total_user_votes != nil %>
  		<% user.total_user_votes %>
		<% end %>  
    <% if ((user.id == current_user.id) || (current_user.name == "Michael McCready")) %>  
	    <div class="small-1 columns">
	    	<%= link_to 'Edit', edit_user_path(user) %>
	    </div>    
    <% end %> 
  </div>
<% end %>




 
<%#= link_to 'New User', new_user_path %>
