<h2>Contributors</h2>

<% @users.each do |user| %>
  <div class="row">
    <div class="small-11 columns"><%= image_tag user.image_url, id:"userIndexThumb" %>
      <div class="indexName">
        <h4><%= link_to user.name, user %></h4>
        <% if user.organization != nil %>
          <%= user.organization.upcase %>
         <% end %> 
      </div>
    </div>
    <% if user.total_user_votes != nil %>
  		<% user.total_user_votes %>
		<% end %>  
    <% if ((user.id == current_user.id) || (current_user.name == "Michael McCready")) %>  
	    <div class="small-1 columns">
	    	<%= link_to 'Edit', edit_user_path(user) %>
	    </div>    
    <% end %> 
  </div>
<% end %>

 
<%#= link_to 'New User', new_user_path %>
