/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 */



body {
	font-family: avenir, "proxima-nova" !important;
	overflow-x: hidden;
	padding-bottom: 25em !important;
	/*background-color: rgb(230,230,230);*/
}

.mainWrap {
	max-width: 65em;
	margin: 0 auto;
}

a:hover {
	background-color: transparent !important;
}

h1, h2, h3, h4 {
 	font-family: "bebas-neue", bebas neue;
 }

h1 {
	margin-top: .6em;
	font-size: 8vw;
	line-height: 1em;
	text-align: center;
} 

.row {
	background-color: white;
	margin: 1em auto;
	padding: 2.5%;
	background: url('bg.jpg') no-repeat center center; 
  		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;	
}

#side-nav {
	position: fixed;
	background-color: white;
	height: 100vh;
}

#side-nav .row .row {
	padding-left: 2em;
}

#navTop {
	position: absolute;
	top: 0;
	right: 0;
	padding: .15em .25em;
	border-radius: 2em;
	z-index: 1000;
	background-color: rgba(255,255,255,.9);
	font-family: "bebas-neue", bebas neue;
	letter-spacing: .05em;
}

.smallSearch {
	position: absolute;
	top: 0;
	margin: .45em 18% !important;
	width: 64% !important;
	height: 2.25em !important;
	border: none !important;
	background: url('bg.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: .66;	
}

#search {
	border: none;
}


#menuToggle {
	width: 100vw;
	right: 0;
	left: 0;
	margin-top: 0em;
	z-index: 2000;
	text-align: right;
}

#menuToggle .row{
	width: 100vw;
	margin-right: 0;
}	

#menuToggle a:hover {
	color: black !important;
}



#menuToggle .row:hover {
	background-color: white;
	background-image: none;
	color: black !important;
}

.menuLogo h2 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	letter-spacing: .075em;
}

#signIN {
	display: inline-block;
	position: fixed;
	height: 2em;
	width: 95%;
	margin: 0em 2.5% 0;
	padding: 0 5%;
	bottom: .5em;
	font-family: avenir !important;
 	line-height: 2em;
 	background-color: rgba(0,0,0,.975);
 	text-align: center;
 	outline: black solid 2px;
 	z-index: 5000;
 	letter-spacing: .075em;
 	color: white;
}

#signIN a {
	color: white !important;
}

#signinExt {
	font-family: avenir, "proxima-nova";
	font-size: 1.25em;
	text-align: center;
}

#userIndexThumb {
	background-size: cover;
	background-position: top center;
	width: 5em;
	height: 5em;
	overflow: hidden;
	border-radius: 50%;
	display: inline-block;
}


.indexName {
	display: inline-block;
  	position: absolute;
  	margin: 1em;
  	letter-spacing: .075em;
}


.indexName h4 {
	line-height: 1em;
  	padding: 0;
  	margin: 0;	
}


.userShowImg {
	background-size: cover;
	width: 33vw;
	height: 33vw;
	margin: 0 auto;
	border-radius: 50%;
	max-width: 10em;
	max-height: 10em;
	overflow: hidden;
}

#botton-nav {
	position: fixed;
	bottom: 0;
	width: 100vw;
	left: 0;
	background-color: white;
}

#banner {
	background-color: rgba(0,0,0,0);
	text-align: center;
	margin:3em auto 2em;
}


.userShowName {
	letter-spacing: .075em;
	margin: 1em auto -1em;
}

.row .row {
	background: none;
}

#post {
	padding-bottom: 0;
}

#postImg {
	width: 100%;
	height: 40vw;
	max-height: 20em;
	background-position: center center;
	background-size: cover;
	background-color: white;
	background-repeat: no-repeat;

}

#idTag {
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,.33);
	margin: 1em 0;
	color: white;

}

.postVote {
	position: absolute;
	right: 0;
	top: 0;
	background-color: rgba(0,0,0,.33);
	margin: 1em 0;
	color: white;
	display: inline-block;
	padding: .5em 1em .25em;
}

#idTag a:visited {	
		color:white !important;	
}

#userThumb {
	width: 4em;
	margin: .25em -.75em .25em 0;
	border-radius: 50%;
}

#userBigThumb {
	width: 3em;
	margin: 0 0 0 5%;
	border-radius: 50%;
}

#posterName {
	display: inline-block;
	padding: .5em 1em .25em .25em;
	color: white;
}

#posterNameDark {
	display: inline-block;
	padding: 1.25em 1em 0 0;
	color: black;
	font-weight: bold;
	letter-spacing: .125em;
}

#logThumb {
	width: 2.25em;
	border-radius: 50%;
	margin: .5em 0 .5em .75em;
}

#postTag {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.33);
	margin: 0 2em 1em 0;
	color: white;
	width: 35em;
	padding-top: .25em;
	padding-bottom: .25em;
}

#menuHead {
	position: absolute;
	display: none;
}

#post h2 {
	display: inline-block;
}

.moreButton {
	display: inline-block;
	height: 3em;
	width: 4em;
	margin: 0;
	letter-spacing: .05em;
	font-family: "bebas-neue", bebas neue;
 	line-height: 3em;
 	background-color: rgba(255,255,255,0);
 	text-align: center;
 	border: rgba(255,255,255,0) solid 2px;
}

.vote {
	display: inline-block;
	height: 3em;
	width: 3em;
	margin: 0;
	font-family: "bebas-neue", bebas neue;
 	font-weight: bold;
 	line-height: 3em;
 	background-color: rgba(255,255,255,1);
 	text-align: center;
 	border: rgba(255,255,255,1) solid 2px;
}

.vote h2 {
	font-size: 3em;
	line-height: 1em;
	color: rgba(0,0,0,1);
	margin: 0;
}


.vote:hover {
	color: white;

}

.downVote:hover {
	background-color: white !important;
	border: rgba(180,0,0,1) solid 2px;
}

.downVote:hover {
	background-color: white !important;
}

.comment-body {
	text-align: right;
}

.upVote:hover {
	background-color: white !important;
	border: rgba(0,180,0,1) solid 2px; 
}

#voteCount {
  text-align: right;
  bottom: -1em;
}

#voteControls {
	text-align: right;
	padding: 0;
	margin: 0;
}

#showTitle {
	display: inline-block;
}

.indexVote {
	text-align: right; 
	padding: 0;
	margin: .25em 0;
}

.orgShow {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	letter-spacing: .075em;
}

.userStats {
	text-align: right;
	margin: 3em 0 0;
}

.userStats h4 {
	line-height: 1em;	
	letter-spacing: .05em;
}

.indexVoteCount {
	display: inline-block;
	padding-bottom: 1em;
	letter-spacing: .05em;
}

.showTitle {
	letter-spacing: .05em;
}

.showVotes {
	font-family: "bebas-neue", bebas neue;
	letter-spacing: .1em;
	font-size: 2em;
	height: 1.5em;
	line-height: 1.5em;
}

.showImage {
	width: 100%;
	height: auto;
	margin: 0 0 -5%;
}

.donateBtn {
	display: inline-block;
	height: 1.5em;
	width: 95%;
	left: 2.5%;
	letter-spacing: .1em;
	font-family: "bebas-neue", bebas neue;
 	line-height: 1.5em;
 	font-size: 2em;
 	padding: 0;
 	background-color: rgba(0,0,0,1);
 	color: white;
 	text-align: center;
 	border: rgba(255,255,255,0) solid 2px;
}

.fundsShow {
	margin: 3em auto;
	text-align: center;
}

.fundsShow h3 {
	letter-spacing: .1em;
}	

.fundCircle {
	 display: table;
	width: 50vw;
	height: 50vw;
	max-width: 20em;
	max-height: 20em;
	border: black 5px solid;
	border-radius: 50%;
	margin: 2em auto;
	background: white;
}

.fundCircle h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;

}

.descriptShow {
	width: 95%;
	left: 2.5%;
}


@media only screen and (max-width: 40em) { 

	.row {
	  	width: 110%;
  		margin-left: -5%;
	}

	h1 {
		font-size: 12.5vw;
	}

	#postTag {
		margin: 0 2em 0 0;
		width: 100%;	
	}

	#idTag {
		margin: 0;
	}	

	.postVote {
		margin: 0;
	}

	#menuToggle {
		margin-left: 0;
		padding-right: 5%;
	}

} 






