<p id="notice"><%= notice %></p>

<h1><%= @categories.name %></h1>

<table>
  <tbody>
    <% @categories.each do |c| %>
      <tr>
        <td><strong><%= link_to c.name, c %></strong></td>
      </tr>  
    <% end %>
  </tbody>
</table>

<%= link_to "Home", posts_path %>

<br>